/* =================================
  Button Transitions
==================================== */

.button {
	color: #4a89ca;
	border: 2px solid;
	transition-property: background,border-radius,color;
  transition-duration: .4s, .8s, .4s;
}

.button:hover {
	color: #fff;
	border-radius: 1em;
  background: #4a89ca;
}

.button:active {
	background: #d71028;
}

.photo-overlay:hover {
	opacity: 1;
  transition-duration: .5s;
	transition-property: opacity;

}

.photo-overlay {
	opacity: 0;
}


/* =================================
  Photo Overlay Transitions
==================================== */
